
/*
* Color
*/

.-green {
  color: #a2ca28;
}
.-red {
  color: #fd634e;
}
.-white {
  color: #fff;
}
.-gray {
  color: #656e74;
}

.-bg-green {
  background-color: #a2ca28;
}
.-bg-red {
  background-color: #fd634e;
}
.-bg-white {
  background-color: #fff;
}
.-bg-dark {
  background-color: #0d1119;
}
